In [10]:
import pandas as pd
import numpy as np

In [3]:
dados = pd.read_csv('computacao_enade_2021.csv')

In [4]:
dados

,NU_ANO,CO_GRUPO,CO_UF_CURSO,CO_REGIAO_CURSO,CO_CATEGAD,CO_ORGACAD,CO_TURNO_GRADUACAO,NT_GER,ANO_FIM_EM,ANO_IN_GRAD,...,QE_I06,QE_I07,QE_I15,QE_I10,QE_I22,QE_I23,QE_I61,QE_I62,QE_I38,QE_I27
0,2021,4004,51,5,1,10028,3.0,26.9,2017.0,2018.0,...,B,B,B,A,E,A,6.0,6.0,6.0,6.0
1,2021,4004,51,5,1,10028,3.0,17.2,2015.0,2016.0,...,D,C,A,D,NaN,C,6.0,5.0,4.0,4.0
2,2021,4004,51,5,1,10028,3.0,43.9,2014.0,2015.0,...,B,A,A,A,A,C,4.0,4.0,4.0,4.0
3,2021,4004,51,5,1,10028,3.0,40.7,2014.0,2015.0,...,B,C,A,A,B,D,NaN,NaN,NaN,NaN
4,2021,4004,51,5,1,10028,3.0,21.7,2017.0,2018.0,...,B,F,A,E,NaN,B,2.0,1.0,2.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62026,2021,72,26,2,5,10022,4.0,18.9,2003.0,2019.0,...,B,A,A,E,E,B,6.0,6.0,1.0,2.0
62027,2021,72,26,2,5,10022,4.0,20.1,2008.0,2020.0,...,B,C,A,E,C,B,6.0,6.0,6.0,5.0
62028,2021,72,26,2,5,10022,4.0,18.9,2007.0,2019.0,...,B,D,A,E,C,D,4.0,4.0,3.0,3.0
62029,2021,72,26,2,5,10022,4.0,27.1,2016.0,2019.0,...,B,E,A,E,B,C,5.0,6.0,4.0,3.0
62030,2021,72,42,4,5,10022,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
dados["CO_GRUPO"].dtype # Ver se o formato Object pra string Ã© vÃ¡lido

dtype('O')

In [8]:
dados.replace({'CO_GRUPO': {72: 'ADS', 4004: 'BCC', 6409: 'GTI', 4005: 'LCC', 79: 'RC', 4006: 'SI'}})

,NU_ANO,CO_GRUPO,CO_UF_CURSO,CO_REGIAO_CURSO,CO_CATEGAD,CO_ORGACAD,CO_TURNO_GRADUACAO,NT_GER,ANO_FIM_EM,ANO_IN_GRAD,...,QE_I06,QE_I07,QE_I15,QE_I10,QE_I22,QE_I23,QE_I61,QE_I62,QE_I38,QE_I27
0,2021,BCC,51,5,1,10028,3.0,26.9,2017.0,2018.0,...,B,B,B,A,E,A,6.0,6.0,6.0,6.0
1,2021,BCC,51,5,1,10028,3.0,17.2,2015.0,2016.0,...,D,C,A,D,NaN,C,6.0,5.0,4.0,4.0
2,2021,BCC,51,5,1,10028,3.0,43.9,2014.0,2015.0,...,B,A,A,A,A,C,4.0,4.0,4.0,4.0
3,2021,BCC,51,5,1,10028,3.0,40.7,2014.0,2015.0,...,B,C,A,A,B,D,NaN,NaN,NaN,NaN
4,2021,BCC,51,5,1,10028,3.0,21.7,2017.0,2018.0,...,B,F,A,E,NaN,B,2.0,1.0,2.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62026,2021,ADS,26,2,5,10022,4.0,18.9,2003.0,2019.0,...,B,A,A,E,E,B,6.0,6.0,1.0,2.0
62027,2021,ADS,26,2,5,10022,4.0,20.1,2008.0,2020.0,...,B,C,A,E,C,B,6.0,6.0,6.0,5.0
62028,2021,ADS,26,2,5,10022,4.0,18.9,2007.0,2019.0,...,B,D,A,E,C,D,4.0,4.0,3.0,3.0
62029,2021,ADS,26,2,5,10022,4.0,27.1,2016.0,2019.0,...,B,E,A,E,B,C,5.0,6.0,4.0,3.0
62030,2021,ADS,42,4,5,10022,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# dft1 = dft1.astype({"a": np.bool_, "c": np.float64})
dados = dados.astype({'CO_GRUPO':str})